@import 'sass-bootstrap/lib/bootstrap';
@import 'compass/typography/links/link-colors';

/* Colors lifted from Sherwin-Williams 117: http://www.sherwin-williams.com/homeowners/color/find-and-explore-colors/paint-colors-by-family/SW6817-gentian/ */

$background:   #e1e2e8;
$foreground:   #6b6ea6;
$soft:         #acafd5;
$soft_rgba_50: rgba(172,175,213,0.50);
$soft_rgba_25: rgba(172,175,213,0.25);
$emphasized:   #413e70;
$breakpoint_small: 500px;
$breakpoint_medium: 650px;
$breakpoint_large: 1000px;

* > h1 {
   margin-top: 0px;
}

h1 {
   color: $emphasized;
}

@media (min-width: $breakpoint_small) {

   p {
      max-width: 500px;
      margin: 20px auto;
   }

}
body {
   background: $background;
   color: $foreground;
   font-size: 2em;
   /* max-width: 1000px; */
   /* margin: auto; */
}

a {
   color: $foreground;
   border-bottom: 1px dotted $foreground;
}

a:visited {
   color: $soft;
}

a:hover, a:focus, a:active {
   color: $emphasized;
   border-bottom: 1px solid $foreground;
   text-decoration: none;
}

h1 a, h1 a:visited {
   color: $emphasized;
}

.info-band {
   padding: 20px;
   width: 100%;
   border-top: $soft 10px solid;
}

.image-gallery {
   padding: 0;
   overflow: hidden;
   width: 100%;
}

@media (min-width: $breakpoint_large) {
   .image-gallery {
      max-height: 225px;
      vertical-align: middle;
   }
}

.image-gallery img {
   width: 50%;
   float: left;
}

@media (min-width: $breakpoint_medium) {

   .image-gallery img {
      width: 25%;
   }

}

.info-band:first-child {
   border-top: none;
}

.birth-stats {
   color: $emphasized;
   font-size: 2em;
   margin: 0;
}

.birth-stats .value {
   text-align: center;
}

@media (min-width: $breakpoint_small) {

   .birth-stats {
      display: table;
      table-layout: fixed;
   }

   .birth-stats .value {
      display: table-cell;
   }

}

.colophon {
   list-style-type: none;
   margin: 0;
   padding: 0;
   text-align: center;
}

.narrative-break::before {
   content: '';
   display: block;
   height: 225px;
   background-position: center center;
   background-size: cover;
   border-top: $soft 10px solid;
   border-bottom: $soft 10px solid;
   margin-bottom: 20px;
   margin-top: 0px;
   width: 100%;
}

@media (min-height: 550px) {

   .narrative-break::before {
      height: 500px;
   }

}

.narrative-break.false-start::before {
   background-image: url('../images/rhythm-looking-up-small.jpg');
}

.narrative-break.real-deal::before {
   background-image: url('../images/real-deal-small.jpg');
}

.narrative-break.the-pros::before {
   background-image: url('../images/the-pros-small.jpg');
}

.narrative-break.the-amateur::before {
   background-image: url('../images/the-amateur-small.jpg');
}

.narrative-break.its-a-girl::before {
   background-image: url('../images/its-a-girl-small.jpg');
}

.narrative-break.christmas-time::before {
   background-image: url('../images/christmas-time-small.jpg');
}

@media (min-width: $breakpoint_medium), (min-resolution: 300dpi), (-webkit-min-device-pixel-ratio: 2) {

   .narrative-break.false-start::before {
      background-image: url('../images/rhythm-looking-up-medium.jpg');
   }

   .narrative-break.real-deal::before {
      background-image: url('../images/real-deal-medium.jpg');
   }

   .narrative-break.the-pros::before {
      background-image: url('../images/the-pros-medium.jpg');
   }

   .narrative-break.the-amateur::before {
      background-image: url('../images/the-amateur-medium.jpg');
   }

   .narrative-break.its-a-girl::before {
      background-image: url('../images/its-a-girl-medium.jpg');
   }

   .narrative-break.christmas-time::before {
      background-image: url('../images/christmas-time-medium.jpg');
   }

}

article p {
   margin: 20px;
}

@media (min-width: $breakpoint_small) {

   article p {
      max-width: 500px;
      margin: 20px auto;
   }

}

h1 {
   text-align: center;
   margin: 20px;
}

article h2+p {
   margin-top: 0px;
}

article h2 {
   text-align: center;
}
