$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'compass/typography/links/link-colors';

/* Colors lifted from Sherwin-Williams 117: http://www.sherwin-williams.com/homeowners/color/find-and-explore-colors/paint-colors-by-family/SW6817-gentian/ */

$background:   #e1e2e8;
$foreground:   #6b6ea6;
$soft:         #acafd5;
$soft_rgba_50: rgba(172,175,213,0.50);
$soft_rgba_25: rgba(172,175,213,0.25);
$emphasized:   #413e70;
$breakpoint_small: 500px;
$breakpoint_medium: 650px;
$breakpoint_large: 1000px;

* > h1 {
   margin-top: 0px;
}

h1 {
   color: $emphasized;
}

body {
   background: $background;
   color: $foreground;
   font-size: 1.75em;
   /* max-width: 1000px; */
   /* margin: auto; */
}

a {
   color: $foreground;
   border-bottom: 1px dotted $foreground;
}

a:visited {
   color: $soft;
}

a:hover, a:focus, a:active {
   color: $emphasized;
   border-bottom: 1px solid $foreground;
   text-decoration: none;
}

.info-band {
   padding: 20px;
   width: 100%;
   border-top: $soft 10px solid;
}

.image-gallery {
   padding: 0;
   /* background: linear-gradient( */
   /*               $soft_rgba_25, */
   /*               $soft_rgba_50 */
   /*             ), */
   /*             url("../images/rhythm-noel-visher-sucking-her-thumb-small.jpeg") no-repeat center center; */
   /* display: table-cell; */
   overflow: hidden;
   width: 100%;
}

@media (min-width: $breakpoint_large) {
   .image-gallery {
      max-height: 225px;
      vertical-align: middle;
   }
}

.image-gallery img {
   width: 50%;
   float: left;
}

@media (min-width: $breakpoint_medium) {

   .image-gallery img {
      width: 25%;
   }

}

.info-band:first-child {
   border-top: none;
}

.birth-stats {
   color: $emphasized;
   font-size: 2em;
   margin: 0;
}

.birth-stats .value {
   text-align: center;
}

@media (min-width: $breakpoint_small) {

   .birth-stats {
      display: table;
      table-layout: fixed;
   }

   .birth-stats .value {
      display: table-cell;
   }

}

.colophon {
   list-style-type: none;
   margin: 0;
   padding: 0;
   text-align: center;
}
